%h1 Ожидаемое зачисление по квоте особого права
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 47}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 48}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 49}
%h1 Ожидаемое зачисление по квоте целевого приема
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 44}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 45}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 46}
%h1 Ожидаемое зачисление по общему конкурсу
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 38}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 39}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 40}
%h1 Ожидаемое зачисление на места с оплатой стоимости обучения
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 41}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 42}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 43}
%table.table
  %thead
    %tr
      %th Номер дела
      %th Сумма баллов
      %th Куда зачислен
      %th Оставшиеся приоритеты
  %tbody
    - @applications_hash.each do |k, v|
      %tr
        %td= "%04d" % k.application_number
        %td= k.summa
        %td= v[:enrolled]
        %td= v[:competitions]