%h1 Ожидаемое зачисление по квоте особого права
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 10}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 11}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 12}
%h1 Ожидаемое зачисление по квоте целевого приема
%h2 Лечебное дело
= render partial: 'competition_list', locals: {competitive_item_id: 7}
%h2 Педиатрия
= render partial: 'competition_list', locals: {competitive_item_id: 8}
%h2 Стоматология
= render partial: 'competition_list', locals: {competitive_item_id: 9}