%h1 Список заявлений
= form_tag import_applications_path, multipart: true do
  = file_field_tag :file
  %br/
  = submit_tag "Загрузить заявления", class: "btn btn-primary"
= form_tag import_recommended_applications_path, multipart: true do
  = file_field_tag :file
  %br/
  = submit_tag "Загрузить рекомендованных", class: "btn btn-primary"
%table.table.datatable
  %thead
    %th Номер заявления
    %th Ф.И.О.
    %th Сумма баллов
  %tbody
    - @applications.each do |application|
      - case
        - when application.last_deny_day
          - label_class = "label label-danger"
        - when application.original_received_date
          - label_class = "label label-success"
        - else
          - label_class = "label label-default"
      %tr
        %td= link_to "%04d" % application.application_number, application_path(application), class: label_class
        %td= application.fio
        %td{class: (application.achiev_summa > 0 ? "label label-success" : "label label-default" )}= application.summa + application.achiev_summa