%h1= @application.fio
%h2 Перечень конкурсов
%ol
  - @application.competitions.order(:priority).each do |competition|
    %li= competition.competition_item.name
%h2 Документы
%dl
  - @application.identity_documents.each do |identity_document|
    %dt
      %h3 Документ, удостоверяющий личность
      = identity_document.identity_document_type.name if identity_document.identity_document_type
    %dd= identity_document.identity_document_data
  - @application.education_documents.each do |education_document|
    %dt
      %h3 Документ об образовании
      = education_document.education_document_type.name if education_document.education_document_type
    %dd
      = education_document.education_document_data
      %span.label.label-success= @application.original_received_date if @application.original_received_date
