- case
  - when @application.last_deny_day
    - label_class = "label label-danger"
  - when @application.original_received_date
    - label_class = "label label-success"
  - else
    - label_class = "label label-default"
%h1.pull-left{:class => label_class}= "#{"%04d" % @application.application_number}"
%h1= @application.fio
%h2 Перечень конкурсов
%ol
  - @application.competitions.order(:priority).each do |competition|
    %li
      = competition.competition_item.name
      = " (#{@application.target_organization.target_organization_name})" if [7, 8, 9].include?(competition.competition_item.code) && @application.target_organization_id
      = competition.rank
      %span.label.label-info= "рекомендован к зачислению #{competition.recommended_date}" if competition.recommended_date
      %span.label.label-success= "зачислен #{competition.admission_date}" if competition.admission_date
%h2 Конкурсные баллы
%table.table
  %thead
    %tr
      %th Химия
      %th Биология
      %th Русский язык
      %th Сумма
      %th С учетом достижений
  %tbody
    %tr
      %td= "#{@marks[0][:value]} (#{@marks[0][:form]})" if @marks[0]
      %td= "#{@marks[1][:value]} (#{@marks[1][:form]})" if @marks[1]
      %td= "#{@marks[2][:value]} (#{@marks[2][:form]})" if @marks[2]
      %td= @application.summa
      %td= @application.summa + @application.achiev_summa
%h2= "Льготы" if @application.olympionic || @application.benefit
%p= "Олимпиада" if @application.olympionic
%p= "Особое право поступления" if @application.benefit
%h2 Персональные данные
%dl
  %dt Пол
  %dh= @application.gender_id == 1 ? "Мужской" : "Женский"
  %dt Дата рождения
  %dh= @application.birth_date
  %dt Страна
  %dh= @application.nationality_type_id
  %dt Регион
  %dh= @application.region_id
%h2 Документы
%dl
  %dt
    %h3 Документ, удостоверяющий личность
    = @application.identity_document.identity_document_type.name if @application.identity_document.identity_document_type
  %dd= @application.identity_document.identity_document_data
  %dt
    %h3 Документ об образовании
    = @application.education_document.education_document_type.name if @application.education_document.education_document_type
  %dd
    = @application.education_document.education_document_data
    %span.label.label-success= @application.original_received_date if @application.original_received_date
