= form_for(competitive_group.competitive_group_target_items.new, html: {class: "form_inline pull-rigth"}, data: {remote: 'true'}) do |f|
  .form-group
    = f.text_field :competitive_group_id, value: competitive_group.id, class: "form-control hidden"
  .form-group
    = f.label :direction_id, 'Специальность'
    = f.select :direction_id, options_for_select({"Лечебное дело" => 438, "Педиатрия" => 441, "Стоматология" => 470}), {:include_blank => ''}, {class: "form-control", placeholder: "Направление подготовки"}
  .form-group
    = f.label :target_organization_id, 'Организация заказчик целевого приема'
    = f.select :target_organization_id, options_for_select(@target_organizations.map{|o|[o.target_organization_name, o.id]}), {:include_blank => ''}, {class: "form-control", placeholder: "Организация"}
  .form-group
    = f.label :number_target_o, 'Количество целевых мест на очную форму обучения'
    = f.number_field :number_target_o, value: 0, in: 1..185, step: 1, class: "form-control", placeholder: "Количество мест"
  .form-group
    = f.submit 'Добавить целевой прием', class: "btn btn-primary"