%h1
  = @campaign.name
%dl
  %dt Год начала
  %dd
    = @campaign.year_start
%dl
  %dt Год окончания
  %dd
    = @campaign.year_end
%dl
  %dt Текущий статус
  %dd
    = @campaign.status_id
%dl
  %dt Места для жителей Крыма
  %dd
    = @campaign.is_for_krym ? "да" : "нет"
%h2 Конкурсные группы
#competitive_groups
  = render 'competitive_groups/competitive_groups'
%h2 Формы обучения
%ul
  - if @campaign.campaign_dates
    - @campaign.campaign_dates.map{|d| {education_form_id: d.education_form_id}}.uniq.each do |i|
      %li
        = i[:education_form_id]
%h2 Уровни обучения
%ul
  - if @campaign.campaign_dates
    - @campaign.campaign_dates.map{|d| {course: d.course, education_level_id: d.education_level_id}}.uniq.each do |i|
      %li
        = i[:education_level_id]
        %br
        = "Курс #{i[:course]}"
= render partial: 'campaign_dates/campaign_dates', locals: {campaign: @campaign}