<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Priem</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Новый запрос', index_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Архив запросов', requests_path %></li>
        <li><%= link_to 'Заявления', applications_path %></li>
        <li><%= link_to 'Ошибки', errors_applications_path %></li>
        <li><%= link_to 'Конкурс', competition_applications_path %></li>
        <li><%= link_to 'Проверка ЕГЭ', ege_to_txt_applications_path %></li>
        <li><%= link_to 'Кампании', campaigns_path %></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <% if @default_campaign_name %>
      <div class="pull-right text-success"><%= @default_campaign_name %>
        <%= link_to remove_default_campaign_path, title: 'Удалить кампанию по умолчанию', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <% end %>
      </div>
    <% else %>
      <%= form_tag("/set_default_campaing", class: "form-inline pull-right") do %>
        <div class="form-group">
          <%= select_tag "campaign_id", options_from_collection_for_select(@campaigns, "id", "name"), prompt: "Выбрать кампанию", class: "form-control " %>
        </div>
        <%= submit_tag 'Выбрать кампанию по умолчанию', class: "btn btn-primary" %>
      <% end %>
    <% end %>
    <%= yield %>
  </div>
</div>
<%= javascript_include_tag 'datatable' %>
<%= javascript_include_tag 'datepicker' %>
</body>
</html>
