%li
  = competitive_group.name
  = link_to competitive_group_path(competitive_group) + "?competitive_group[campaign_id]=#{@campaign.id}", title: 'Удалить конкурсную группу', method: :delete, data: { confirm: 'Are you sure?', remote: 'true'} do
    %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
%li
  = "Курс #{competitive_group.course}"
  #competitive_group_items
    = render partial: 'competitive_group_items/competitive_group_items', locals: { competitive_group: competitive_group }
  #competitive_group_target_items
    = render partial: 'competitive_group_target_items/competitive_group_target_items', locals: { competitive_group: competitive_group }
