%li
  = competitive_group.name
  = link_to competitive_group_path(competitive_group) + "?competitive_group[campaign_id]=#{@campaign.id}", title: 'Удалить конкурсную группу', method: :delete, data: { confirm: 'Are you sure?', remote: 'true'} do
    %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}
%li
  = "Курс #{competitive_group.course}"
  #competitive_group_items
  = render partial: 'competitive_group_items/competitive_group_items', locals: { competitive_group: competitive_group }
  %h3 Организация заказчик целевого приема
  %ul
    - competitive_group.target_organizations.each do |target_organization|
      %li
        = target_organization.target_organization_name
        %ul
          - target_organization.competitive_group_target_items.each do |competitive_group_target_item|
            %li
              = "направление подготовки - #{competitive_group_target_item.direction_id}"
              %br
              = "уровень образования - #{competitive_group_target_item.education_level_id}"
              %br
              = "количество мест на целевой прием - #{competitive_group_target_item.number_target_o}"